/* ---------------------------------------      COLORES */
:root {
    --color-fondo: #f6f5f7;
    --color-primario: #2c3e50;
    /* --color-primario: #f4b036; */
    --color-primario-claro: #4f6881;
    --color-secundario-claro: #ffa095;
    --color-secundario: #ff6347;
    --color-texto: #333;
    --color-texto-claro: #555;
    --color-texto-primario: #ffffff;
    --color-texto-secundario: #f9f9f9;
    --color-texto-blanco: #ffffff;
    --color-fondo-blanco: #ffffff;
    --color-borde: #ddd;
    --color-sombra: rgba(0, 0, 0, 0.5);
    --color-texto-fondo: #2c3e50;
    --color-modo-rgb: 255, 255, 255;
}
:root.oscuro {
    --color-terciario: #f4442e;
    --color-fondo: #0b0500;
    --color-primario: #000;
    --color-secundario: #ffa425;
    --color-primario-claro: #333;
    --color-secundario-claro: rgb(254, 171, 54);
    --color-texto: #ededed;
    --color-texto-claro: #bebebe;
    --color-texto-primario: #fcf7ff;
    --color-texto-secundario: #f9f9f9;
    --color-texto-blanco: #000000;
    --color-fondo-blanco: #000000;
    --color-modo-rgb: 0, 0, 0;
    --color-sombra: rgba(255, 191, 31, 0.7);
    /* --color-sombra: rgba(255, 255, 255, 0.7); */

    --color-texto-fondo: #fff;
}
/* modo oscuro */
/* :root {
    --color-fondo: #46464e;
    --color-primario: #95b0cb;
    --color-primario-claro: #ff8a75;
    --color-secundario-claro: #ffa852;
    --color-secundario: #4f6881;
    --color-texto: #f9f9f9;
    --color-texto-claro: #f0f0f0;
    --color-texto-primario: #414141;
    --color-fondo-blanco: #373737;
    --color-secundario-claro: #ffa852;
    --color-secundario: #ff9913;
} */
/* --------------------------------------------------- GENERAL */
/* Definir el tamaño base del html */
html {
    font-size: 18px; /* Base que facilita el uso de rem */
}

body {
    overflow-x: scroll;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 1em; /* Corresponde a 16px */
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    width: 100vw;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-top: 5rem;
}
body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Reset básico */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ---------------------------------------------------------- ENCABEZADO */
.header {
    color: var(--color-texto-primario);
    background-color: var(--color-primario);
}
#logo-container {
    width: 100%;
    height: 100%;
    display: none;
}
#logo-container img {
    width: 100px;
    height: auto;
}
nav {
    position: fixed;
    color: var(--color-texto-primario);
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.8;
    top: 0;
    z-index: 1000; /* Para asegurar que esté por encima del contenido */
    height: 5rem;
    /* filter: brightness(1.2);  */
    box-shadow: 0px 0.5rem 1rem var(--color-sombra);
    transition: opacity 0.3s ease-in-out;
}

#titulo {
    flex-grow: 3;
    text-align: end;
    white-space: nowrap;
    margin: 0px;
    padding-left: 3rem;
    color: var(--color-texto-primario);
    font-size: 2rem; /* Tamaño del título para móviles */
    font-weight: 700; /* Grosor del título */
}

#hamburguesa {
    display: none;
    flex-grow: 3;
    padding: 0 1rem;
    left: 0px;
    border-radius: 5px;
    font-size: 3rem;
    color: var(--color-texto-primario);
}
nav ul {
    flex-grow: 1;
    flex-shrink: 4;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Espaciado basado en em para mantener consistencia */
    display: flex;
    justify-content: end;
    font-weight: 600;
    font-size: 1.2rem;
}
#nav-list li {
    margin: 0 1.5rem;
}
#nav-list #actual {
    color: var(--color-secundario-claro);
}
#nav-list a:hover {
    color: var(--color-secundario);
}
#nav-list a {
    text-decoration: none;
    color: var(--color-texto-primario);
}

#nav-list:hover:after {
    transform: scalex(1);
}
#nav-list:after {
    transition: 0.25s ease;
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    color: var(--color-secundario-claro);
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
}
/* ----------------------------------------------MOBILE */
#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
}

#mobile-menu ul {
    list-style: none;
    padding: 0;
}

#mobile-menu ul li {
    margin: 20px 0;
}

#mobile-menu ul li a {
    text-decoration: none;
    font-size: 3rem;
    color: var(--color-primario);
}
/* Estado visible del menú móvil */
#mobile-menu.visible {
    transform: translateY(0);
}

.hidden {
    display: none;
}

/* ----------------------------------------------------------- CARRITO */

#btn-usuario {
    position: fixed;
    bottom: 10px; /* Ajusta según el margen que quieras con el borde inferior */
    right: 10px; /* Ajusta según el margen que quieras con el borde derecho */
    z-index: 9999; /* Asegura que la imagen esté siempre por encima de otros elementos */
    background-color: var(--color-primario);
    color: var(--color-texto-primario);
    padding: 1rem;
    border-radius: 40px;
}
#btn-usuario:hover {
    background-color: var(--color-secundario);
}
#btn-usuario i {
    margin-right: 0.5rem;
}

/* ------------------------------------------------------- FOOTER */
/* Estilos para el pie de página */
.footer {
    text-align: center;
    padding: 0.9375rem; /* 15px convertido a rem */
    background-color: var(--color-primario);
    color: var(--color-texto-primario);
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    margin: 0;
}
/* --------------------------------------------------------------- MEDIAS */
/* Media queries para asegurar un buen diseño responsive */
@media (max-width: 1324px) {
    html {
        font-size: 18px;
    }
}

@media (max-width: 840px) {
    html {
        font-size: 16px;
    }
    nav ul li {
        margin: 0 1rem;
    }
    #titulo {
        padding-left: 0;
    }
}
@media (max-width: 840px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 12px;
    }
    nav {
        padding: 1rem;
    }
    #nav-list {
        display: none;
    }

    .title-wrapper {
        flex: 10;
    }
    #titulo {
        flex-grow: 8;
        text-align: end;
        order: 2;
    }
    #hamburguesa {
        display: inline-block;
        order: 1;
    }
    .about-us {
        padding: 2rem !important;
    }
}

@media (max-width: 340px) {
    html {
        font-size: 9px;
    }
}

/* Contenedor de inicio de sesión */
#loginForm {
    position: fixed;
    top: 0;
    right: -15rem;
    width: 15rem;
    background-color: var(--color-fondo);
    box-shadow: -2px 0 5px var(--color-sombra);
    height: 100vh;
    z-index: 1000;
    transition: right 0.4s ease;
}

#loginForm.active {
    right: 0;
}

/* Estilos del formulario */
#loginForm h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-texto-fondo);
}
#contenedor-iniciar-sesion {
    display: none;
}
#form-iniciar-sesion label {
    display: block;
    margin-bottom: 0.7rem;
}

#loginForm input[type='text'],
#loginForm input[type='password'] {
    background-color: var(--color-fondo-blanco);
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#loginForm button {
    width: 100%;
    padding: 0.7rem;
    background-color: var(--color-secundario-claro);
    color: var(--color-texto-secundario);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Contenedor para centrar el botón */
#container-modo-oscuro {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    padding: 0 0.4rem;
}
#container-modo-oscuro::after {
    content: ''; /* Crear un pseudo-elemento vacío */
    display: block; /* Necesario para que el borde funcione */
    width: 90%; /* Ajusta el ancho del borde, por ejemplo, 50% */
    height: 1px; /* Altura del borde */
    background-color: var(--color-borde); /* Color del borde */
    margin: 0 auto; /* Centrar el borde */
    position: absolute;
    bottom: 0; /* Posicionar en la parte inferior del div */
    left: 0;
    right: 0;
}
.dark-mode {
    margin: 1rem;
    margin-bottom: 2rem;
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: var(--color-texto);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.dark-mode .circle {
    width: 40%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transform: translateX(10%);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, background-colo 0.5s ease;
}
.oscuro .circle {
    transform: translateX(140%);
    background-color: #2a2a2c;
}
.circle ion-icon {
    width: 70%;
    height: 70%;
    position: absolute;
    transition: transform 0.5s ease;
}
.circle .moon {
    color: white;
    transform: translateY(-120%);
}
.oscuro .circle .moon {
    transform: translateX(0);
}
.dark-mode .circle .sun {
    color: #fcde5b;
}
.oscuro .circle .sun {
    transform: translateY(120%);
}

/* Contenedor del menú */

/* Lista del menú */
.menu-list {
    list-style: none; /* Quitar viñetas */
    padding: 0;
    margin: 0;
}

/* Elementos de la lista */
.menu-item {
    display: flex; /* Bloque para ocupar todo el ancho */
    align-items: center;
    padding: 2rem; /* Espaciado interno */
    color: var(--color-texto-fondo);
    text-decoration: none; /* Sin subrayado */
    font-weight: 500; /* Peso intermedio */
    font-size: 1.3rem; /* Tamaño legible */
    transition: all 0.3s ease; /* Transición suave */
}
.menu-item ion-icon {
    margin-right: 1rem;
}

/* Hover en los elementos */
.menu-item:hover {
    background-color: var(--color-secundario-claro); /* Fondo rojo brillante */
    color: var(--color-texto-primario); /* Texto blanco */
    transform: translateY(-3px); /* Efecto de elevación */
    box-shadow: 0 4px 12px var(--color-sombra); /* Sombra brillante */
}